{% extends "base.html" %} {% block mainbody %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
</head>

<div class="container">


  <div class="panel">      
            <div class = "panel-body">
                <!--搜索框-->
                <form method = "get" id = 'searchEntityForm'>
                        <div>
                            <input type="text" id = "user_text" name = "user_text" class="form-control" placeholder="输入实体名称">

                            <span class="btn btn-primary input-group-addon" type="button" id="relationSearchButton" style="background-color:#b3c2bf; padding:6px 38px" onclick="document.getElementById('searchEntityForm').submit();">查询</span>
                         </div>
                </form>
            </div>
  </div>
  

<div id="noresult-panel" style="display:none;">  

</div>

<div id="person-panel" style="display:none;">  
<p><h1>演员信息</h1></p>
<p><span>演员：</span><span class="person-info1"></span></p>
<p><span>出生日期：</span><span class="person-info2"></span></p>
</div>

<div id="movie-panel" style="display:none;">  
<p><h1>影片信息</h1></p>
<p><span>电影：</span><span class="movie-info1"></span></p>
<p><span>上映：</span><span class="movie-info2"></span></p>
<p><span>简介：</span><span class="movie-info3"></span></p>
</div>


 {% if ctx %}

 <script type="text/javascript">
    var ctx =  {{ ctx|safe }} ;
    if(ctx.code == 0){
        var result = JSON.parse(ctx.result);
        if(result.length > 0){
           for(var i=0; i<result.length; ++i){
              var entity = result[i];
              if(entity.p){
                $(".person-info1").html(entity.p.name);
                $(".person-info2").html(entity.p.born);
                $("#person-panel").show();
              }
              else if(entity.m){
                $(".movie-info1").html(entity.m.title);
                $(".movie-info2").html(entity.m.released);
                $(".movie-info3").html(entity.m.tagline);
                $("#movie-panel").show();
              }
           }
        }
    }
    else{
        $("#noresult-panel").html(ctx.result);
        $("#noresult-panel").show();
    }
 </script>

 {% endif %}

{% endblock %}
