{% extends "base.html" %} {% block mainbody %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
</head>

<div class="container">


  <div class="panel">      
            <div class = "panel-body">
                <!--搜索框-->
                <form method = "get" id = 'searchRelationForm'>
                        <div>
                            <input type="text" id = "user_text" name = "user_text" class="form-control" placeholder="输入实体和关系名称">

                            <span class="btn btn-primary input-group-addon" type="button" id="relationSearchButton" style="background-color:#b3c2bf; padding:6px 38px" onclick="document.getElementById('searchRelationForm').submit();">查询</span>
                         </div>
                </form>
            </div>
  </div>
  

<div id="noresult-panel" style="display:none;">  

<h1> 没有找到该实体对应的关系图 </h1>
</div>

<div id="graph" style="display:none; height:400px;">  </div>


 {% if ctx %}

  <script src="/static/js/echarts.js"></script>
  <script type="text/javascript">

    var ctx =  {{ ctx|safe }} ;
    var nodes = [];
    var links = [];
     
    nodes.push( {category:0, name:ctx.title, value : 10, label: ctx.title} );

    if(ctx.code == 0){
        var result = JSON.parse(ctx.result);

        for(var i=0; i<result.length; ++i){
           var item = result[i];
           if(item.p){
               nodes.push( {category:1, name:item.pm.title, value : Math.floor(Math.random()*10+1), label: item.pm.title} );
               links.push( {source :item.pm.title, target :ctx.title, weight : 1, name:item.rel});
           }
           else if(item.m){
               nodes.push( {category:1, name:item.mp.name, value : Math.floor(Math.random()*10+1), label: item.mp.name} );
               links.push( {source :item.mp.name, target :ctx.title, weight : 1, name:item.rel});
           }
        }
         
        $("#graph").show();
    }
    else{
       $("#noresult-panel").show();
    }


    require.config({
            paths: {
                echarts: '/static/js/'
            }
        });
    require(
            [
                'echarts',
                'echarts/chart/force'   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
            ],
            function (ec) {
                var myChart = ec.init(document.getElementById('graph'));
                var option =  {
    title : {
        text: '电影关系:'+ ctx.title,
        subtext: '北航软件学院',
        x:'right',
        y:'bottom'
    },
    tooltip : {
        trigger: 'item',
        formatter: '{a} : {b}'
    },
    toolbox: {
        show : true,
        feature : {
            restore : {show: true},
            magicType: {show: true, type: ['force', 'chord']},
            saveAsImage : {show: true}
        }
    },
    legend: {
        x: 'left',
        data:['演员','电影']
    },
    series : [
        {
            type:'force',
            name : "关系",
            ribbonType: false,
            categories : [
                {
                    name: '电影'
                },
                {
                    name: '演员'
                }
            ],
            itemStyle: {
                normal: {
                    label: {
                        show: true,
                        textStyle: {
                            color: '#333'
                        }
                    },
                    nodeStyle : {
                        brushType : 'both',
                        borderColor : 'rgba(255,215,0,0.4)',
                        borderWidth : 1
                    },
                    linkStyle: {
                        type: 'curve'
                    }
                },
                emphasis: {
                    label: {
                        show: false
                        // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
                    },
                    nodeStyle : {
                        //r: 30
                    },
                    linkStyle : {}
                }
            },
            useWorker: false,
            minRadius : 15,
            maxRadius : 25,
            gravity: 1.1,
            scaling: 1.1,
            roam: 'move',
            nodes: nodes,
            links :links
        }
    ]
};
               var ecConfig = require('echarts/config');
function focus(param) {
    var data = param.data;
    var links = option.series[0].links;
    var nodes = option.series[0].nodes;
    if (
        data.source !== undefined
        && data.target !== undefined
    ) { //点击的是边
        var sourceNode = nodes.filter(function (n) {return n.name == data.source})[0];
        var targetNode = nodes.filter(function (n) {return n.name == data.target})[0];
        console.log("选中了边 " + sourceNode.name + ' -> ' + targetNode.name + ' (' + data.weight + ')');
    } else { // 点击的是点
        console.log("选中了" + data.name + '(' + data.value + ')');
    }
}
myChart.on(ecConfig.EVENT.CLICK, focus)

myChart.on(ecConfig.EVENT.FORCE_LAYOUT_END, function () {
    console.log(myChart.chart.force.getPosition());
});

                myChart.setOption(option);
            }
        );
    </script>

 {% endif %}

{% endblock %}
